/* coding photo */
/* https://images.unsplash.com/photo-1558986377-c44f6a2b50f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80 */

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  
}
button {
  padding: 2% 4%;
  font-size: 36px;
  transition: all .25s ease-in-out;
}

button:hover {
  transform: translateY(-3%);
  box-shadow: 0 7px 10px -2px rgb(77, 77, 77);
}

button:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  padding: 1%;
  width: 100%;
  z-index: 2;
  color: white;
  font-size: 18px;
  /* transition:background-color 1s ease-in-out; */
}

.scrolling {
  position: fixed;
  top: -10%;
}

.scrollNav {
  position: fixed;
  top: 0;
  background-color: #08aeea;
  transition-property: top, background-color;
  transition-duration: 0.5s, 1.5s;
}

.navLinks {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navLinks li:hover {
  color: rgba(0, 174, 255, 1);
  transition: all 0.5s ease-in-out;
}

.logo {
  flex: 1;
}
.logo p {
  margin-left: 35px;
}
.module {
  position: relative;
  background-size: cover;
  height: 100vh;
}

.module::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1556565681-67b9cd907d20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  overflow: hidden;
}

.module::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(229, 0, 255, 1) -50%,
    rgba(0, 174, 255, 1) 100%
  );
  opacity: 0.7;
}

.module-inside {
  position: relative;
  /* border: 1px solid white; */
  position: relative;
  top: 33%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  z-index: 5;
}

.module-inside h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 6%;
}
.module-inside button {
  border: white 3px solid;
  border-radius: 40px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
}

.clients {
  color: #08aeea;
  padding: 1%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.clients h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 1%;
}

.clientHolder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
}

.double {
  display: flex;
  height: 80vh;
}
.doubleText {
  flex: 1;
}

.doubleText h1 {
    font-size: 48px;
    font-weight: 600;  
    margin-bottom: 7%; 
}

.doubleText p {
    font-size: 24px;
    margin-bottom: 7%;
}

.doubleText div {
  width: 80%;
  margin-left: 8%;
}
.doubleText div button {
  background-color: #7f3f98;
  color: white;
  border-radius: 40px;
}



.doublePhoto {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1565095747113-c462f5fbf6d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1465&q=80");
  background-size: cover;
  background-position: center;
}

.howWeBuild {
  background-image: url("https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80");
  background-size: cover;
  background-repeat: no-repeat;

  /* background-position: center; */
  height: 60vh;
}

.getStarted {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.getStarted form {
    position: relative;
    top:10%;
    left:25%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:2.5% 5%;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 10;
}

form input {
    flex:1;

    padding:5%;
    width:100%;
    margin:5%;
    font-size: 24px;
    box-shadow: 7px 4px 7px 2px rgba(0,0,0,0.11);
    -webkit-box-shadow: 7px 4px 7px 2px rgba(0,0,0,0.11);
    -moz-box-shadow: 7px 4px 7px 2px rgba(0,0,0,0.11);
    border: none;
    outline:0;
}

.getStarted button {
    background-color: #7f3f98;
  color: white;
  border-radius: 40px;
}

footer {
  background-color: #394c58;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0; */
  /* width:100%; */
}

.hidden {
    display:none;
}